* {
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}


img.sandwich {
    height: auto;
    width: 300px; 
}

img.hamburger {
    height: auto;
    width: 350px;
}

ul, ol {
    list-style-type: none;
}

.recipe-card {
    text-align: center;
    width: 500px;
    border: 4px;
}

.recipe-card.sandwich {
    background-color: bisque;
    border: solid yellow;
}

.recipe-card.hamburger {
    background-color: aqua;
    border: solid blue;
}

.recipe-content {
    text-align: center;
}

.button {
    background-color: darkgreen;
    border: 2px solid black;
    color: white;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 10px 30px;
    cursor: pointer;
    text-decoration:none;
}

h1, h2, h3 {
    text-transform: capitalize;
    color:brown;
}

.vid {
    position:absolute;
    margin: auto;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.container.homepage {
    height: 500px;
    width: auto;
    background-color: blanchedalmond;
}